<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/"> MovieFlix </a>
        </div>
        <ul class="nav navbar-nav">
            <li><a href="/user/login">Login with Github</a></li>
            <!-- <li><a href="/favorites">Favorites</a></li> -->
        </ul>
        <form action="/movie/search?source=hp" method="post" id="search-form" class="form-inline">
            <div class="form-group">
                <ul class="nav navbar-nav navbar-right list">
                    <li>
                        <select name="category" class="form-control" id="category" style="padding-right: 25px">
                            <option value="movie">Movie Title</option>
                            <option value="person">Actor</option>
                        </select>
                    </li>
                    <li>
                        <input type="text" id="movie" placeholder="Search" name="movieSearch" style="padding-right: 25px" />
                    </li>
                    <li>
                        <input type="submit" class="btn btn-primary" />
                    </li>
                </ul>
            </div>

        </form>
    </div>
</nav>